.header {
    background-color: rgb(23, 156, 45);
    margin: 0px;
}

.header-logo {
    color: #ffffff;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding: 10px 50px;
}

#SP1 {
    color: blue;
}

.section-title {
    background-color: grey;
    border-bottom: 2px solid black;
}

li {
    list-style: none;
    color: white;
    padding-top: 17.5px;
    margin: 0px;
}

.footer {
    background-color: aqua;
    color: #000000;
    height: 50px;
    padding: 40px;
}

.footer-logo {
    font-size: 32px;
    margin: 0;
}